<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner">

        <div class="off-canvas-content" data-off-canvas-content>

            <div class="row columns" id="main-content">
                <div class="row medium-15 large-15">
                    <div>
                        <div class="sidebar column large-4" *ngIf="isSearchQueryActive()">
                            <form
                            (ngSubmit)="findQuery()" #findQueryForm="ngForm" id="frm-search">
                            <div class="row callout small-up-2 medium-up-2 large-up-2 form-header">
                                <span>Choose filters for this search</span>
                            </div>
                            <div class="row callout small-up-2 medium-up-2 large-up-2 form-body">
                                <div>
                                    <span><strong>Filter by fields</strong></span>

                                    <div class="callout column search-filters">
                                        <div>
                                            <input type="checkbox" [(ngModel)]="fieldFilters.description.selected"
                                            ngControl="chkDescription" #chkDescription="ngForm">
                                            <span>{{fieldFilters.description.label}}</span>
                                        </div>
                                        <div>
                                            <input type="checkbox" [(ngModel)]="fieldFilters.query.selected"
                                            ngControl="chkQuery"
                                            #chkQuery="ngForm"><span>{{fieldFilters.query.label}}</span>
                                        </div>
                                        <div>
                                            <input type="checkbox" [(ngModel)]="fieldFilters.tags.selected"
                                            ngControl="chkTags"
                                            #chkTags="ngForm"><span>{{fieldFilters.tags.label}}</span>
                                        </div>
                                        <div>
                                            <input type="checkbox" [(ngModel)]="fieldFilters.author.selected"
                                            ngControl="chkAuthor" #chkAuthor="ngForm"><span>{{fieldFilters.author.label}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span><strong>Filter by team</strong></span>

                                    <div class="callout column search-filters">
                                        <div>
                                            <input type="checkbox" [(ngModel)]="teamFilters.teamAppManag.selected"
                                            ngControl="chkAppManag" #chkAppManag="ngForm"><span>{{teamFilters.teamAppManag.label}}</span>
                                        </div>
                                        <div>
                                            <input type="checkbox" [(ngModel)]="teamFilters.teamClosFun.selected"
                                            ngControl="chkClosFun" #chkClosFun="ngForm"><span>{{teamFilters.teamClosFun.label}}</span>
                                        </div>
                                        <div>
                                            <input type="checkbox" [(ngModel)]="teamFilters.teamDocGenp.selected"
                                            ngControl="chkDocGenp" #chkDocGenp="ngForm"><span>{{teamFilters.teamDocGenp.label}}</span>
                                        </div>
                                        <div>
                                            <input type="checkbox" [(ngModel)]="teamFilters.teamPricingFees.selected"
                                            ngControl="chkPricingFees" #chkPricingFees="ngForm"><span>{{teamFilters.teamPricingFees.label}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row callout small-up-2 medium-up-2 large-up-2 form-footer">
                                <div>
                                    <span>Terms</span>
                                </div>
                                <input type="search" class="search-filters" [(ngModel)]="txtSearch"
                                ngControl="chkSearch" #chkSearch="ngForm">
                                <button type="submit" class="button">Search</button>
                            </div>
                        </form>
                        <div id="frm-error" [ngStyle]="{'animation': opValue}" >

                            <div class="row callout small-up-2 medium-up-2 large-up-2 form-header"
                                [ngStyle]="{'background-color': backgroundHeader}">
                                <span>{{titleHeader}}</span>
                            </div>
                            <div class="row callout small-up-2 medium-up-2 large-up-2 form-body">
                                <div class="row large-15" id="msg-error-container">
                                    <div class="column large-15">
                                        <input type="text" readonly="true" [(ngModel)]="errorMessage"/>
                                    </div>
                                    <div class="column large-15 end">
                                        <small class="error">{{footerMsg}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

            </div>
            <!-- <div class="headerDivider" id="divider-results"></div> -->
            <div class="column large-11" id="results-container" [ngStyle]="{'margin-right': marginResults}">
                <div class="row" id="search-title">{{getLabelCurrentView()}}</div>
                <div class="callout row" id="col-results">
                    <frm-search-results *ngIf = "isSearchQueryActive()" ></frm-search-results>
                    <frm-add-query      *ngIf = "isAddNewQueryActive()"></frm-add-query>
                    <frm-update-query   *ngIf = "isEditQueryActive()" ></frm-update-query>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</div>
